/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/* Hide logout button by default */
#logout-button{
  display: none;
}

/* Leave some space between page elements*/
.auto-margin-bottom{
  margin-bottom: 20px;
}

/* Re-write datatable header padding*/
table.dataTable thead th, table.dataTable thead td{
  padding: 10px 10px;
}

/* Remove datatable top and bottom border */
table.dataTable.borderless,table.dataTable.borderless thead th {
  border-style:none;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

/* Make dialog width smaller than default */
@media (min-width: 500px) {
.modal-dialog-narrow
{ width: 400px; }
}
