<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Evercam Gateway</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for bootsrap template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="https://dash.evercam.io/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://dash.evercam.io/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://dash.evercam.io/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://dash.evercam.io/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://dash.evercam.io/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://dash.evercam.io/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://dash.evercam.io/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://dash.evercam.io/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dash.evercam.io/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://dash.evercam.io/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://dash.evercam.io/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://dash.evercam.io/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://dash.evercam.io/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://dash.evercam.io/manifest.json">
    <meta name="msapplication-TileColor" content="#dc4c3f">
    <meta name="msapplication-TileImage" content="https://dash.evercam.io/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
	<div class="container">
	     <div class="header clearfix">
	        <nav>
            <img alt="evercam.io" src="http://evercam.io/img/evercam-logo.svg">
	          <ul class="nav nav-pills pull-right">
              <li role="presentation" id="logout-button"><a type="button">Sign out</a></li>
	          </ul>
	        </nav>
	     </div>

	    <div class="jumbotron" id="login-evercam">
	      <p class="lead">Claim your Evercam Video Gateway</p>
        <br>
	      <p><a class="btn btn-lg btn-success" role="button" id="loginEvercam" href="https://auth.evercam.io/oauth2/authorize?response_type=token&scope=cameras:list:all+cameras:view:all+user:view:all+snapshots:list:all+snapshots:view:all+cameras:snapshot:all&client_id=3527bd96&redirect_uri=https://gateway.evercam.io/">Sign in with Evercam</a></p>
	    </div>

    <div class="collapse" id="gateway-dashboard">
      <button class="btn btn-lg btn-success auto-margin-bottom" id="add-gateway-button" data-toggle="modal" data-target="#add-gateway-modal">Add Gateway</button>

      <div id="gateway-list-row">
          <div id="gateway-list">
          </div>
        </div>
    </div>

    <!-- TEMPLATE FOR EACH GATEWAY LISTED -->
    <div id="gateway-template" class="hidden">
       <div class="panel panel-default" id="gateway{{id}}">
          <div class="panel-heading">
             <span class="float-left"><h3 class="panel-title">{{name}}</h3></span>
             <span class="float-right">
               <p class="panel-title">Last seen: {{last_contact_at}}</p>
             </span>
             <h3> </h3>
          </div>
          <div class="panel-body" id="devices-gateway{{id}}">
             <table id="devices-table-gateway{{id}}" class="display nowrap borderless datatablewidth" >
                <thead>
                   <tr>
                      <th></th>
                      <th>IP Address</th>
                      <th>MAC Address</th>
                      <th>Vendor</th>
                      <th>Evercam ID</th>
                      <th></th>
                      <th></th>
                   </tr>
                </thead>
             </table>
          </div>
       </div>
    </div>
     <!-- END TEMPLATE FOR GATEWAY -->

     <!-- TEMPLATE FOR SHOW PORTS MODAL DIALOG -->
     <div id="ports-template" class="hidden">
		<div class="modal fade" id="ports-device{{id}}">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Device {{mac_address}} - {{ip_address}}</h4>
				</div>
				<div class="modal-body">
					<table id="ports-table-device{{id}}" class="display" width="100%">
						<thead>
						<tr>
							<td>Port ID</td>
							<td>Gateway Port ID</td>
							<td>Public Port ID</td>
							<td>Public Hostname</td>
							<td>Service</td>
						</tr>
						</thead>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
     </div>
     <!-- END TEMPLATE FOR SHOW PORTS MODAL -->

     <!-- TEMPLATE FOR ADD GATEWAY -->
     <div id="add-gateway-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-narrow">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h3 class="text-center">Add a new gateway</h3>
              </div>
              <div class="modal-body">
                 <form role="form" id="add-gateway-form">
                    <div class="form-group">
                       <input type="text"  id="mac-address" class="form-control" placeholder="MAC Address (eg, 00:00:00:00:00:00)">
                    </div>
                    <div class="form-group">
                       <input type="text" id="secret" class="form-control" placeholder="Secret (eg, 3c111KNn1ZwiVXx)">
                    </div>
                    <div class="form-group">
                       <input type="text" id="gateway-name" class="form-control" placeholder="Name your gateway (eg, My Little Gateway)">
                    </div>
                    <div class="form-group">
                       <button class="btn btn-success btn-block btn-lg" id="add-gateway-action-button">Add</button>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
     <!-- END TEMPLATE FOR ADD GATEWAY -->

     <footer class="footer">
       <p>&copy; Evercam 2015</p>
     </footer>
     </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Templating Engine -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.2/mustache.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <!-- JS handling page behaviours -->
    <script src='js/gateway_list.js'></script>
    <script src='js/index.js'></script>
    <!-- Library handling authentication with Evercam -->
    <script src='js/evercam_auth.js'></script>
    <!-- Library handling adding cameras to Evercam -->
    <script src='js/evercam.js'></script>
    <!-- Evercam Gateway Library -->
    <script src="js/evercam_gateway.js"></script>

    <script>
      $(function() {
        evercam.init();
        index.init();
      });
    </script>

  </body>
</html>
